{% include 'partials/header.twig' %}


<a href="/product/index">Back</a>
<h1>{{ product.getName|capitalize }}</h1>


<div class="product_info">

    Price: {{ product.getPrice / 100 }}$ <br>
    Quantity: {{ product.getQuantity }}
    <h3>Description</h3>
    <p>{{ product.getDescription|capitalize }}</p>
    <h3>Categories</h3>
    <ul>
        {% for category in product.getCategories%}
            <li>{{ category.getCategory|capitalize }}</li>
        {% endfor %}
    </ul>
    <h3>Tags</h3>
    {% if product.getTags|length > 0 %}
    <ul>
        {% for tag in product.getTags%}
            <li>{{ tag.getTag|capitalize }}</li>
        {% endfor %}
    </ul>
        {% else %}
            <i>(none)</i>
    {% endif %}

</div>


{% include 'partials/footer.twig' %}